<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-button (click)="getStuff()">GET STUFF FROM SERVER</ion-button>
    <br>
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <br>
    <!-- this is the button  -->
    <ion-button (click)="fireAlert()">FIRE ALERT!</ion-button>
    <br>
    <ion-input [(ngModel)]='user_xyz' type='text' placeholder="Name?"></ion-input>
    <ion-button (click)="whatsMyName()">SUBMIT NAME</ion-button>
    <br>
    <ion-button (click)="consoleArrays()">SHOW ANIMAL IN LOG</ion-button>
    <ion-button color="danger" (click)="checkAnimal()">CHECK ANIMAL</ion-button>
    <h1 *ngIf="user_xyz == 'duck'">WOW URE A DUCK!</h1>
    <ion-list>
      <ion-item *ngFor="let haiwan of animalsArray">
        {{ haiwan | uppercase }}
      </ion-item>
    </ion-list>

  </div>
</ion-content>
