<ion-header [translucent]="true">

  

  <ion-toolbar color='danger'>
    <ion-title>
      To Do List
    </ion-title>
    <ion-buttons slot='end'>

      <ion-button (click)="signOut()">
        <ion-icon name="power" slot='icon-only'></ion-icon>
      </ion-button>

      <ion-button (click)="toggleAddToDO()">
        <ion-icon name="add-circle" slot='icon-only'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>

  <img *ngIf="imagePath" src="{{ imagePath }}" alt="">

  <ion-button ></ion-button>

  <ion-card *ngIf="addToDO==true">
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="task" placeholder="Title"></ion-input>
        <ion-button (click)="createTask()">ADD TO DO</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-sliding *ngFor="let item of taskList">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <b>{{ item.data.task }}</b>
              <span *ngIf="item.data.status=='done'"><ion-icon name="shield-checkmark-outline" color="success"></ion-icon></span>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col>
              {{ item.data.timestamp | date:'short'}}
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col>
              {{ item.data.location }}
            </ion-col>
          </ion-row> -->
        </ion-grid>
        
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option (click)="deleteTask(item.id)"color="danger" expandable>
          DELETE
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option (click)="updateTask(item.id)"color="danger" expandable>
          DONE?
        </ion-item-option>
      </ion-item-options>  
    </ion-item-sliding>
  </ion-list>
</ion-content>
